@import "tema.css";

body, h1, h2, h3, h4, h5, h6, p , a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


header {
    background-color: var(--fundo-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 10px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    min-width: 98%;
}

.logo{
    display: flex;
    justify-content: space-between;
    padding: 0 5px 10px 5px;
    width: auto;
    height: 50px;
    /* background-image: var(--logo); */
    background-size: cover;
    border: var(--border-padrao);
    border-radius: 49%;
    background-position: center;
    cursor: pointer;
    /* animation: aumentalogo 10s alternate infinite; */
    text-align: center;
    margin: 10px;
    padding: 0 10px;
    transition: all 2s ease;
    box-shadow: 2px 2px 2px white;

}

.logo-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* animation: aumentalogo 10s alternate infinite; */
    transition: all 2s ease;
}

.logo-title{
    transition: all 10s ease;
    /* position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%); */
    display: none;
    margin: 5px 5px ;
    color: var(--font-logo-color);
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    height: fit-content;
    margin-top: 0;
}

.logo:hover{
    border-radius: 10px;
}

.logo:hover .logo-title{	
    display: flex;
    animation: logoanimation 3s alternate infinite;
}

@keyframes logoanimation {
    0%{
        font-size: 0.5rem;
        opacity: 0;

    }100%{
        font-size: 2rem;
       opacity: 1;
    }
}



@keyframes aumentalogo {
    0%{
        width: 10%;
    }50%{
        width: 50%;
    }100%{
        width: 30%;
    }
}

@keyframes aumentatitulo-logo {
    0%{
        font-size: 1.5rem;
    }
    100%{
        font-size: 3rem;
    }
}




.header-menubar{
    display: flex;
    margin-right: 10px;
    padding-top: 10px;
}

.menubar-control{
    background-color: var(--fundo-2ç);
    border: none;
    color: white;
    font-size: 2rem;
    display: none;
}

.header-menu{
    display: inline-block;
    margin-top: 5%;

}

.header-menucontent{
    background-color: var(--fundo-3);
    border-radius: 10px;
    padding: 5px;
    display: none;
    position: absolute;
    transition: all 0.5s ease;
    z-index: 100;
}
.header-menuItem:hover{
    border-radius: 10px;
}

.header-menuItem:hover ~ .header-menucontent,
.header-menucontent:hover{
    display: block;
}

.header-menuItem{
    transition: all 1s ease;
    text-align: center;
    font-size: medium;
    text-wrap: wrap;
    text-shadow: var(--font-shadow);
    color: var(--font-title-color);
    display: inline-block;
    background-color: var(--fundo-2);
    border-radius: 20px;
    min-height: 25px;
    padding: 5px 10px 0px 10px;
    margin-left:10px ;
}



.header-menuItem:hover{
    background-color: var(--fundo-2);
}

@media screen and (max-width: 600px) {


    .header-content{
        flex-direction: column;
    }
    .header-menubar{
        flex-direction: column;
    }

    .header-menu{
        display: none;
    }

    .header-content{
        flex-direction: row;
    }

    .menubar-control{
        display: inline;
    }

    .header-menucontent{
        width: 90%;
        background-color: var(--fundo-2);
        border-radius: 10px;
        position: static;
    }
    .header-menuItem{
        width: 90%;
    }

    .header-menuItem:active{
        background-color: aliceblue;
    }

    .menubar-control{
        width: fit-content;
        text-align: right;
        font-size: 4rem;
        font-weight: lighter;
        
    }

    .logo{
        width: fit-content;
        max-height: fit-content;
        border-radius: 10px;
        
    }

    .logo-title{
        display: flex;
        font-size:2rem;
    }
    
    .logo:hover .logo-title{	
        display: flex;
        animation: none;
    }


}