@import 'st/header.css';
@import 'st/footer.css';
@import 'st/tema.css';
@import 'st/banner.css';
@import 'st/comentarios.css';
@import 'st/index_img_container.css';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.time {
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  width: 45%;
}

@media screen and (max-width: 768px) {
  .time {
    width: 100%;
  }
}

.container h2 {
  font-size: 24px;
  margin: 0;
}

.container img {
  max-width: 100%;
}

.container a.btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #8ebd8e;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}



.redesSociais,
.newsletter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap ;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 1px solid gray;
  
}

.enviar-button {
  background-color: #8ebd8e;
  color: #fff;
  border-radius: 2px;
  padding: 5px 20px;
  margin-left: 100px;
}

.redesSociais .socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.redesSociais .socials a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

.redesSociais .socials a:hover {
  color: #007bff;
}

.redesSociais .socials .fa {
  font-size: 24px;
  border: 2px solid #8ebd8e;
  background-color: #8ebd8e;
  padding: 10px;
  color: #fff;
}