.banner {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.banner img {
    width: 50vw;
    height: 30vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.time {
   
    text-align: center;
    padding: 20px;
    margin: 10px; /* Adicione margem para separar as divs */
    border: 1px solid #ccc; /* Adicione uma borda para separar as divs visualmente */
    width: 45%;
}
  
  /* Estilos adicionais a seu gosto */
.container h2 {
    font-size: 24px;
    margin: 0;
  }
  
.container img {
    max-width: 100%;
  }
  
.container a.btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: lightgreen;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  