@import 'st/header.css';
@import 'st/footer.css';
@import 'st/tema.css';

.banner {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.banner img {
    width: 50vw;
    height: 30vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.time {
   
    text-align: center;
    padding: 20px;
    margin: 10px; 
    border: 1px solid #ccc; 
    width: 45%;
}
  
.container h2 {
    font-size: 24px;
    margin: 0;
  }
  
.container img {
    max-width: 100%;
  }
  
.container a.btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: lightgreen;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
.noticias ul.list {
    list-style: none;
    padding: 0;
  }
  
  .noticias ul.list li {
    display: flex;  
    margin-bottom: 20px; /
  }
  
  
  .noticias ul.list li time {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    background-color: green; 
    color: white; 
    padding: 5px; 
  }
  
  
.noticias ul.list li time span {
    display: block; 
    font-size: 16px; 
    font-weight: normal;
  }
  
.noticias ul.list li .extra_noticias {
    font-size: 18px; 
  }

.testemunha {
    background-color: aqua;
  }

  .noticias blockquote .title {
    font-size: 24px;
    font-weight: bold;
    background-color: green;
    color: white;
    padding: 10px;
  }
  
  .noticias blockquote p {
    font-size: 18px;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .noticias blockquote div {
    font-size: 16px;
    background-color: #ccc;
    padding: 10px;
  }
  
  .grid_alvo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    height: fit-content;
    padding-bottom: 10px;
  }

  .card_index {
    border: 1px solid var(--border-padrao);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--fundo-3);
    box-shadow: var(--box-shadow);
    max-width: 100%; 

}

.card_index img {
    
    display: flex;
    justify-content: center;
    align-items: center;
    image-rendering: optimizeSpeed;
    max-width: fit-content;
    height: fit-content;
    display: block; 
    margin: 0 auto; 
    border-radius: 10px;
    padding: 1-10px;
    z-index: 11;

    border: var(--border-padrao);
}
   
.noticias-container {
    float: left;
    width: 40%; 
    padding: 10px;
}

/* Grid de imagens à direita */
.imagens-container {
    float: left;
    width: 60%; 
    padding: 10px;
}
  