<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoeCiente</title>
    <link rel="stylesheet" href="/view/styles/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../../control/commum.js"></script>
    <script src="../../control/header.js"></script>
    <script src="../../control/footer.js"></script>
    <script src="../../control/indexScript.js"></script>
</head>

<body>
    <header>
    </header>
    <main>
        <section class="outdoor">
            <div class="outdoor-container">
                <div class="banner active">
                    <img src="../../imagens/bn1.jpg" alt="Banner 1">
                    <div class="banner_descricao">
                        <h1>Doe Ciente</h1>
                        <p>Conecte-se à transparência e faça a diferença! Nosso site de doações online apoia instituições que compartilham dados públicos sobre o impacto das suas contribuições.
                            <a href="sobre.html">Saiba mais.</a></p>
                    </div>
                </div>
                <div class="banner">
                    <img src="../../imagens/bn2.jpg" alt="Banner 2">
                    <div class="banner_descricao">

                        <h1>Faça sua Doação</h1>
                        <p>Descricao do anuncio Descricao do anuncioDescricao do anuncioDescricao do anuncio<a href="">
                                Saiba mais...</a></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="time">
                <h2>Nossa Missao</h2>
                <div>
                    <a href="https://brasil.un.org/pt-br/sdgs">Nosso objetivo esta
                        relacionado com diversos ODS</a>
                    <p>No DoeCiente, os usuários podem realizar doações de forma fácil e consciente. Eles podem escolher
                        entre várias instituições de caridade e projetos sociais cadastrados e direcionar suas doações
                        para causas que realmente importam para eles.
                    </p> <br>
                    <a href="pages/instituicoes.html" class="btn">Saber mais</a>
                </div>
            </div>
            <div class="time">
                <h2>Conheca Nosso Time</h2>
                <img src="../../imagens/page1_img1.jpg" alt="">
                <div>
                    <a href="pages/sobre.html" class="btn">Saber mais</a>
                </div>
            </div>
        </section>
        <section class="secao_main">
            <div class="noticias-container">
                <div class="noticias">
                    <h2>Ultimas noticias</h2>
                    <ul class="list">
                        <li>
                            <time datetime="2014-01-01">29<span>Jan</span></time>
                            <div class="extra_noticias">
                                <div><a href="#">Afeganistão</a></div>
                                Terremotos no Afeganistão: três questões sobre a situação atual
                            </div>
                        </li>
                        <li>
                            <time datetime="2014-01-01">02<span>Fev</span></time>
                            <div class="extra_noticias">
                                <div><a href="#">Faixa de Gaza</a></div>
                                A situação em Gaza é catastrófica
                            </div>
                        </li>
                        <li>
                            <time datetime="2014-01-01">20<span>Fev</span></time>
                            <div class="extra_noticias">
                                <div><a href="#">Americas</a></div>
                                Migração nas Américas: as características do movimento migratório na região
                            </div>
                        </li>
                        <li>
                            <time datetime="2014-01-01">05<span>Mar</span></time>
                            <div class="extra_noticias">
                                <div><a href="#">Haiti</a></div>
                                Damos o nosso melhor para salvar vidas
                            </div>
                        </li>
                        <li>
                            <time datetime="2014-01-01">17<span>Out</span></time>
                            <div class="extra_noticias">
                                <div><a href="#">Israel</a></div>
                                Atentado terrorista em Jerusalém: MSF presta assistência médica
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
            <div class="imagens-container">
                <h2>Ajude pessoas reais</h2>
                <div class="imagens-content">
                    <div class="card_index">
                        <a href="#">
                            <img src="../../imagens/th1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="card_index">
                        <a href="#">
                            <img src="../../imagens/th2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="card_index">
                        <a href="#">
                            <img src="../../imagens/th3.jpg" alt="" />
                        </a>
                    </div>
                    <div class="card_index">
                        <a href="#">
                            <img src="../../imagens/th4.jpg" alt="" />
                        </a>
                    </div>
                    <div class="card_index">
                        <a href="#">
                            <img src="../../imagens/th5.jpg" alt="" />
                        </a>
                    </div>
                    <div class="card_index">
                        <a href="#">
                            <img src="../../imagens/th6.jpg" alt="" />
                        </a>
                    </div>
                    <div class="card_index">
                        <a href="#">
                            <img src="../../imagens/th7.jpg" alt="" />
                        </a>
                    </div>
                    <div class="card_index">
                        <a href="#">
                            <img src="../../imagens/th8.jpg" alt="" />
                        </a>
                    </div>
                    <div class="card_index">
                        <a href="#">
                            <img src="../../imagens/th9.jpg" alt="" />
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <div class="comentarios">
        </div>

        <section>

        <div class="newsletter">
            <h3>Fique informado</h3>
            <div>Se inscreva na nossa Newsletter</div>
            <form>
                <div>
                    <label class="email">
                        <input type="email" placeholder="Preencha seu Email">
                    </label>
                </div>
                <button class="enviar-button">Enviar</button>
            </form>
        </div>


        <div class="redesSociais">
            <h3>Permaneca Conectado</h3>
            <div>Siga nas redes sociais</div>
            <div class="socials">
                <a href="#">
                    <div class="fa fa-twitter"></div>
                </a>
                <a href="#">
                    <div class="fa fa-facebook"></div>
                </a>
                <a href="#">
                    <div class="fa fa-pinterest-square"></div>
                </a>
                <a href="#">
                    <div class="fa fa-google-plus"></div>
                </a>
                <a href="#">
                    <div class="fa fa-instagram"></div>
                </a>
            </div>
        </div>
    </section>

    </main>

    <footer>
        <!-- Adicione informações de contato ou links úteis aqui -->
    </footer>
</body>

</html>