<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoeCiente</title>
    <link rel="stylesheet" href="/view/styles/produto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/control/commum.js"></script>
    <script src="/control/header.js"></script>
    <script src="/control/footer.js"></script>
    <script src="/control/intituicoes.js"></script>
</head>
<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div class="filtros">
            <div class="filtro-content">
                <label for="instituicao-input">Instituição</label>
                <input type="text" id="instituicao-input" placeholder="Digite o nome da instituição">
                <button class="btnFiltro">Buscar</button>
            </div>
        </div>
        <div class="conteudo" id="conteudo">
            <div class="container">
                
            </div>
        </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>